<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Handler para Node.js aplicações -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" staticFile="true" />
    </handlers>
    <iisnode nodeProcessCommandLine="node server.js" loggingEnabled="true" logDirectory="%home%\LogFiles\iisnode" watchedFiles="web.config;*.js;*.ts;.next\**" />
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript; charset=utf-8" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge" />
        <add name="Cache-Control" value="no-cache" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".ts" allowed="false" />
          <add fileExtension=".tsx" allowed="false" />
          <add fileExtension=".env" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!-- Redirects -->
        <rule name="Redirect to node app" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>
